@model AppStore.Models.DTO.LibroListVm;
@{
  Layout = "_Layout";
}

    <section class="search-bar">
          <form >
          <input type="text" placeholder="buscar libro">
          <button type="submit"><i class="fa fa-search"></i></button>
         </form>
        </section>
        <section class="movies">

          @foreach(var libro in Model.LibroList!){
        <div class="movie-card" onclick="window.location.href='/Home/LibroDetail?libroId=@libro.Id'" >
            <div class="movie-image">
            <img src="/Upload/@libro.Imagen" width="200" height="250">
            </div>
            <div class="movie-info">
                <h4>@libro.Titulo</h4>
                <h4>@libro.CategoriaNames</h4>
                <h4>@libro.Autor</h4>
                <h4>@libro.CreateDate</h4>
            </div>
           </div>
          }

         

        </section>

        <div class="pagination">
          <a href="#">&laquo;</a>
          <a href="#">1</a>
          <a class="active" href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">&raquo;</a>
        </div>