@model AppStore.Models.Domain.Categoria

@{}

<form class="w-40" asp-action="Edit" method="post">

<h2>Actualizar Categoria</h2>
<input type="hidden" class="input" asp-for="Id">

<div class="input-container">
    <label asp-for="Nombre" class="w-40">Titulo</label>
    <input type="text" class="input" asp-for="Nombre">
</div>
<div class="message-box pd-x-28 error">
    <span asp-validation-for="Nombre"></span>
</div>



<div class="input-container">
    <button class="btn btn-default">Guardar</button>
    <a class="btn btn-sec" href="/Categoria/Index">Ver Todo</a>
</div>

</form>